@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins bg-white_transparent;
  }
  :root {
    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer components {
  .navClassActive {
    @apply text-[#083EC5] font-medium text-xl;
  }
  .navClass {
    @apply text-[#172B4D] font-medium 4xl:text-xl 3xl:text-xl 2xl:text-xl text-base;
  }
  .navbarBottom {
    @apply text-[#52525B]  text-sm font-normal leading-[26px];
  }
  .aboutTitle {
    @apply text-secondaryColor font-poppins text-xl xl:text-2xl font-medium;
  }
  .aboutParagraph {
    @apply text-paragraphColor font-poppins text-[13px] xl:text-[18px];
  }
  .title {
    @apply text-[#172B4D] font-poppins text-[28px] xs:text-[28px] sm:text-[28px] md:text-[30px] lg:text-[30px] xl:text-[40px] 2xl:text-[40px] 3xl:text-[40px] font-semibold;
  }
  .paragraph {
    @apply text-[#172B4D] font-poppins text-base lg:text-lg xl:text-xl text-left leading-[180%] pl-3 xl:pl-0;
  }

  .user-descreption-wrapper strong {
    @apply text-[#172B4D] font-poppins text-2xl font-semibold leading-[180%];
  }

  .user-descreption-wrapper h2 {
    @apply text-[#172B4D] font-poppins text-base lg:text-lg xl:text-xl 2xl:text-xl pl-3 xl:pl-0 font-normal leading-[180%];
  }

  .user-descreption-wrapper ul {
    @apply flex flex-col gap-y-5 list-disc pl-5 my-5;
  }
  .user-descreption-wrapper li {
    @apply text-[#172B4D] font-poppins text-[14px] xs:text-[14px] sm:text-[14px] md:text-[14px] lg:text-[16px] xl:text-xl 2xl:text-xl 3xl:text-xl font-normal leading-[180%];
  }
  .user-descreption-wrapper p {
    @apply text-[#172B4D] font-poppins text-[14px] font-normal leading-[180%];
  }

  .dynamic-page-wrapper h2 {
    @apply text-[black] text-xl xl:text-2xl font-semibold my-5;
  }
  .dynamic-page-wrapper p {
    @apply text-[#172B4D] text-[16px] my-5;
  }
  .dynamic-page-wrapper ul {
    @apply flex flex-col gap-y-5 list-disc pl-5 my-5;
  }
  .dynamic-page-wrapper li {
    @apply text-[#172B4D] font-poppins text-xl font-normal leading-[180%];
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* custom faq icon:start */
  .accordion-trigger .faq-plus {
    @apply block;
  }
  .accordion-trigger .faq-minus {
    @apply hidden;
  }
  .accordion-trigger[data-state="open"] .faq-plus {
    @apply hidden;
  }
  .accordion-trigger[data-state="open"] .faq-minus {
    @apply block;
  }
  /* custom faq icon:end */
}
